/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  position: relative;

  padding: 100px 0;
  background-color: var(--Themes__background-color);

  display: flex;
  flex-direction: column;

  align-items: center;
}

.page::before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: var(--Themes__background);
  background-size: 4px;
  z-index: -1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* header */
.header {
  color: (--Themes__mainColor);
  font-weight: 400;
  font-family: var(--header__font-family), sans-serif;
  font-size: var(--header__font-size);
  text-transform: uppercase;
  text-align: center;

  width: min(100%, 696px);
  border: 2px solid var(--Themes__mainColor, #000);
  background: var(--Themes__background-color, #fff);
  padding-block-start: 136px; /* desktop */
  padding-block-end: 25px;
  padding-inline: 120.5px; /* desktop */

  margin-block-end: 100px;
}

@media (width <= 500px) {
  .header {
    padding-block-start: 120px; /* mobile */
    padding-inline: 14px; /* mobile */
  }
}

.header__logo {
  font-size: var(--header__font-size-title);
  margin-block-end: 20px;
  text-decoration: none;
  display: block;
  outline: none;
}

.header__logo:focus {
  outline: none;
}

.header__title {
  font-size: var(--header__font-size-subtitle);
  margin-block-end: 25px;
}

.theme-menu {
  display: flex;
  justify-content: space-around;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;

  text-align: start;
  width: fit-content;

  position: relative;
  padding-inline-start: 20px;
}

.theme-menu__button {
  text-transform: uppercase;
  width: fit-content;

  background: none;
  outline: none;
  border: none;

  cursor: pointer;

  position: relative;
  padding: 0;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -15px;
  animation: theme-menu__animation 0.3s ease infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.theme-menu__button:focus-visible {
  outline: none;
  border: none;
}

.theme-menu__button::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  bottom: -3px;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.3s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.5s;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* main-section */
.mainSection {
  color: var(--Themes__mainColor);
  font-family: var(--mainSection__font-family), sans-serif;
  font-size: var(--mainSection__font-size);
  font-variation-settings: "wght" 700, "slnt" normal;

  width: min(100%, 696px);
  border: 2px solid var(--Themes__mainColor, #000);
  background: var(--Themes__background-color, #fff);

  margin-block-end: 50px;
  text-align: start;

  overflow: hidden;
}

.mainSection__title {
  font-size: var(--mainSection__font-size);
  padding-inline: 10px;
  padding-block: 3px; /* desktop */
  text-align: start;

  display: flex;
  align-items: center;
}

@media (width <= 500px) {
  .mainSection__title {
    padding-block: 4px 6px; /* mobile */
  }
}

.mainSection__image {
  background-color: blueviolet;
  /* width: 696px; */
  aspect-ratio: 1/1;
  background-size: contain;
}

@media (width <= 500px) {
  .mainSection__image {
    width: 371px;
  }
}

.mainSection__text-section {
  display: flex;
  flex-direction: column;

  padding: 27px 25px 25px 25px;
  line-height: 21px;
  font-variation-settings: "wght" 465, "slnt" normal;
}

.mainSection__text-section p:first-child {
  margin-block-end: 27px;
}

.mainSection__text-section p:nth-child(2) {
  margin-block-end: 25px;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* buttons */

/* 
✦ like-icon — для svg-иконки анимированного сердца +
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки + */

.flat-button {
  background-color: var(--Themes__background-color);
  border: 2px solid var(--Themes__mainColor, #000);
  color: var(--Themes__mainColor);

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 1s ease, box-shadow 0.5s ease-in-out;
}

.flat-button::before {
  content: "";
  width: 100%;
  height: 100%;

  background-color: var(--Themes__mainColor);
  position: absolute;
  left: 0;
  top: 0;

  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
}

.flat-button:hover {
  color: var(--Themes__background-color);
}

.flat-button:hover::before {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.flat-button:focus {
  outline: none;
}

.flat-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--Themes__mainColor);
  outline: none;
}

.card__like-button {
  width: 130px;
  background-color: transparent;
}

.button__text {
  background-color: transparent;
  font-family: var(--header__font-family), sans-serif;
  font-size: var(--header__font-size);
  line-height: 90%;

  z-index: 2;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  gap: 4px; /* подобрано вручную */
  align-items: stretch;

  width: fit-content;
  height: 39px;
  margin-inline-start: auto;
  margin-block-start: -2px; /* для ручной сверки с макетом */
}

/* ------------------------------------------------------------------------------------------------------------ */
/* heart */
.card__icon-button {
  background: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;

  width: fit-content;

  border: 2px transparent solid;

  transition: border-color linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px var(--Themes__mainColor) solid;
}

.card__icon-button:hover .core {
  fill: var(--Themes__mainColor);
  transition: fill 0.3s ease-in-out;
}

.card__icon-button:hover .main-body {
  fill: var(--Themes__mainColor);
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s ease-in-out;
}

.card__icon-button:active .main-body {
  fill: var(--heart-sparks);
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.05s;
}

.like-icon {
  fill: var(--Themes__mainColor);
  width: fit-content;
  padding: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.03s;
}

.contour {
  fill: var(--Themes__mainColor);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.03s ease-in-out;
}

.sparks {
  fill: var(--heart-sparks);
  opacity: 0;
}

.like-icon.is-liked .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s ease-in-out;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks);
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks);
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: 50%;
  animation: heart-click 0.3s ease-in;
  animation-delay: 0.1s;
  animation-direction: alternate;
}

.like-icon.is-liked .sparks {
  transform-origin: 50%;
  animation: sparks 0.3s ease-in;
  animation-delay: 0.3s;
  animation-direction: alternate;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* footer */
.footer__save-button {
  padding: 15px 20px;

  height: fit-content;
  width: fit-content;

  font-family: var(--header__font-family), sans-serif;
  font-size: var(--header__font-size);
  line-height: 90%;
}

@media (width <= 375px) {
  .footer__save-button {
    flex-direction: column;
  }
}

.footer__floppy-disc-icon {
  fill: currentColor;
  transition: fill 1s ease;

  z-index: 1;
}
